<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="toolbar">
        <ion-icon size="large" name="basketball-outline"></ion-icon>
        <span>Register</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>Subscribe</ion-card-title>
        <ion-card-subtitle>Subscribe To Our Mail Letter</ion-card-subtitle>
      </ion-card-header>
      <hr class="divider">
      <ion-card-content>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere reprehenderit, quae nostrum a pariatur incidunt quos possimus. Aperiam doloribus minus, omnis iusto, sint in sed amet consequuntur praesentium molestias autem.
      </ion-card-content>
    </ion-card>

    <form (submit)="submission()">
      <ion-list>
        <ion-list-header>
          <ion-label class="title">Register</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input [(ngModel)]="user.name" name="name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="user.password" name="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="user.email" name="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-textarea [(ngModel)]="user.address" name="address"></ion-textarea>
        </ion-item>
      </ion-list>
      <div class="container-btn">
        <ion-button color="warning" type="button" (click)="toHome()">Home</ion-button>
        <ion-button class="btn-submit" type="submit">Submit Form</ion-button>
      </div>
    </form>
  </div>
</ion-content>