.toolbar {
  display: flex !important;
  align-items: center;
}

.toolbar > span {
  margin-left: 15px;
}

#container {
  max-width: 800px;
  padding: 10px;
  margin: 20px auto;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.btn-submit {
  max-width: 200px;
}

.container-btn {
  display: flex;
  align-items: center;
  justify-content: end;
}

.birth,
.birth * {
  background-color: white !important;
}

.card {
  margin-bottom: 2rem;
}

.divider {
  border-bottom: 1px solid rgb(219, 217, 217);
  margin: 1.5rem 0px;
  padding: 10px;
}