#container {
  max-width: 800px;
  padding: 10px;
  margin: auto;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.btn-submit {
  margin-top: 1.5rem;
  margin-left: auto;
  display: block;
  max-width: 200px;
}

.birth,
.birth * {
  background-color: white !important;
}

.card {
  margin-bottom: 2rem;
}

.divider {
  border-bottom: 1px solid rgb(219, 217, 217);
  margin: 1.5rem 0px;
  padding: 10px;
}